# This file contains a list of files and folders to be ignored when
# committing to a git repository.

node_modules
dist
upload
deploy.log
config/shopify.yml
npm-debug.log
.env
.env.*
.shopify

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.sass-cache*
.cache/*
_site
/.idea
/.vim
secrets.json
.jekyll-metadata
.ruby-version
.eslintcache

assets/*.min.*
assets/.vite
assets/*

/snippets/vite.liquid
/snippets/importmap.liquid

shopify.theme.toml
